<?xml version="1.0"?>
<config>
    <modules>
        <VinaiKopp_ProductCategories>
            <version>0.1.0</version>
        </VinaiKopp_ProductCategories>
    </modules>
    <global>
        <blocks>
            <vinaikopp_productCategories>
                <class>VinaiKopp_ProductCategories_Block</class>
            </vinaikopp_productCategories>
        </blocks>
        <helpers>
            <vinaikopp_productCategories>
                <class>VinaiKopp_ProductCategories_Helper</class>
            </vinaikopp_productCategories>
        </helpers>
        <models>
            <vinaikopp_productCategories>
                <class>VinaiKopp_ProductCategories_Model</class>
            </vinaikopp_productCategories>
        </models>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <vinaikopp_productCategories>
                        <type>model</type>
                        <class>vinaikopp_productCategories/observer</class>
                        <method>catalogProductSaveCommitAfter</method>
                    </vinaikopp_productCategories>
                </observers>
            </catalog_product_save_commit_after>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <vinaikopp_productCategories>
                    <file>vinaikopp/productcategories.xml</file>
                </vinaikopp_productCategories>
            </updates>
        </layout>
        <translate>
            <modules>
                <VinaiKopp_ProductCategories>
                    <files>
                        <default>VinaiKopp_ProductCategories.csv</default>
                    </files>
                </VinaiKopp_ProductCategories>
            </modules>
        </translate>
    </frontend>
</config>